<?xml version="1.0"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Fractal.Properties.Settings.baseConnectionString" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\base.accdb" providerName="System.Data.OleDb"/>
        <add name="Fractal.Properties.Settings.MyDBConnectionString" connectionString="Data Source=PROGRAMMINGSERV;Initial Catalog=MyDB;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
</configuration>
